body{
    overflow: hidden;
}
.myButton {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color:#33bdef;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
    text-align: center;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}
.myButton:active {
    position:relative;
    top:1px;
}

.float-right{
    float: right;
}
.fa{
    font-size: .8em;
    line-height: 22px !important;
}
dropdown{
    display: inline-block;
    margin: 20px 50px; 
}
dropdown label, dropdown ul li{
    display: block;
    width: 200px;
    background: #ECF0F1;
    padding: 15px 20px;
}
dropdown label:hover, dropdown ul li:hover{
    background: #1ABC9C;
    color: white;
    cursor: pointer;
}
dropdown label{
    color: #1ABC9C;
    border-left: 4px solid #1ABC9C;
    border-radius: 0 5px 0 0; 
    position: relative;
    z-index: 2;
}
dropdown input{
    display: none;
}
dropdown input ~ ul{
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: -20px;
    z-index: 1;
}
dropdown input:checked + label{
    background: #1ABC9C;
    color: white;
}
dropdown input:checked ~ ul{
    visibility: visible;
    opacity: 1;
    top: 0;
}
.animate{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;  
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
}
#map{position: fixed;top: 0px;left: 0px;bottom: 0px;right: 0;background: #FFF;}
li.animate[disabled]{
    background: #AAA;
    pointer-events: none;
}
#menu{
    position: fixed;
    z-index: 2000;
    bottom: 0;
    left: 0;
    width: 10%;
    padding: 15px 0;
    background-color: #EEE;
    text-align: center;
    background-image: url('../images/list.png');
    background-size: 50% 70%;
    background-position: center center;
    background-repeat: no-repeat;
}
#positionxy{
    position: fixed;
    z-index: 1000;
    bottom: 5px;
    right: 10px;
    width: 150px;
    height: 10px;
    padding: 5px 0;
    /*background:  #f0f7fa;*/
    text-align: center;
    font-size: 14px;
    font-family: arial;
    font-weight: bold;
}
#logo{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 10px;
/*    width: 150px;
    height: 20px;*/
    padding: 0px 0;
    background: #f0f7fa;
    text-align: center;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
#menu4{
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    background: #000000;
    text-align: center;
}
#sub-menu{
    position: fixed;
    z-index: 2000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: #EEE;
    overflow-x: hidden;
    overflow-y: auto;
}
#sub-menu div{padding: 15px;}
#picture{
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #EEE;
    display: none;
}
#picture a{
    position: fixed;
    bottom: 10px;
    width: 40%;
    padding: 10px 0;
    background: #FFF;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;	
}
#picture a:first-child{
    left: 5%;
}
#picture a:last-child{
    right: 5%;
}
.bold{font-weight: bold;}




.loader{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}
.loader img{
    margin: 50px auto;
}
#fire_log{
    position: fixed;
    z-index: 2000;
    top: 5px;
    /*right:  10px;*/
    /*width: 30px;*/
    padding: 15px 0;
    /*background: #EEE;*/
    text-align: center;
    padding-right: 10px;
}
#fire_loc{
    position: fixed;
    z-index: 2000;
    bottom: 62px;
    left:.5em;
    width: 53px;
    height: 53px;
    padding: 15px 0;
    background-color: rgba(146,130,130,.6);
    background-image: url("../img/placeholder.png");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    padding-left: 10px;
    border-radius:4px;
    transition: background 2.5s linear;
}
#fire_car{
    position: fixed;
    z-index: 2000;
    bottom: 5px;
    left:.5em;
    width: 53px;
    height: 53px;
    padding: 15px 0;
    background-color: rgba(146,130,130,.6);
    background-image: url("../img/gps-with.png");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    padding-left: 10px;
    border-radius:4px;
    transition: background 2.5s linear;
}
#data{
    position: fixed;
    z-index: 2000;
    top: 20px;
    left:  10px;
    /*width: 90px;*/
    padding: 15px 0;
    background: #EEE;
    text-align: left;
    padding-left: 10px;
}
#accelerometerBTN{
    position: fixed;
    z-index: 2000;
    top: 225px;
    left:  10px;
    /*width: 30px;*/
    padding: 5px 0;
    background: #EEE;
    text-align: left;
    padding-left: 5px;
}
#alerts{
    position: fixed;
    z-index: 2000;
    top: 130px;
    left:  10px;
    /*width: 30px;*/
    padding: 5px 0;
    background: #EEE;
    text-align: left;
    padding-left: 5px;
}
#beep{
    position: fixed;
    z-index: 2000;
    top: 170px;
    left:  10px;
    /*width: 30px;*/
    padding: 5px 0;
    background: #EEE;
    text-align: left;
    padding-left: 5px;
}
#vibrate{
    position: fixed;
    z-index: 2000;
    top: 240px;
    left:  10px;
    /*width: 30px;*/
    padding: 5px 0;
    background: #EEE;
    text-align: left;
    padding-left: 5px;
}
#fire_set{
    position: fixed;
    z-index: 2000;
    top: 145px;
    /*right:  10px;*/
    /*width: 30px;*/
    padding: 15px 0;
    /*background: #EEE;*/
    text-align: center;
    padding-right: 10px;
}
#city_known{
    position: fixed;
    z-index: 2000;
    top: 205px;
    padding: 15px 0;
    text-align: center;
    padding-right: 10px;
}
#test_rout{
    position: fixed;
    z-index: 2000;
    top: 145px;
    padding: 15px 0;
    text-align: center;
    padding-right: 10px;
}
#clearCache{
    position: fixed;
    z-index: 2000;
    top: 250px;
    /*left: 5px;*/
    padding: 15px 0;
    text-align: center;
    padding-right: 10px;
}
#test2{
    position: fixed;
    z-index: 2000;
    top: 255px;
    left: 5px;
    padding: 15px 0;
    text-align: center;
    padding-right: 10px;
}
#camera{
    position: fixed;
    z-index: 2000;
    top: 245px;
    /*right:  10px;*/
    /*width: 30px;*/
    padding: 15px 0;
    /*background: #EEE;*/
    text-align: center;
    padding-right: 10px;
}
#macAddress{
    position: fixed;
    z-index: 2000;
    top: 245px;
    /*right:  10px;*/
    /*width: 30px;*/
    padding: 15px 0;
    /*background: #EEE;*/
    text-align: center;
    padding-right: 10px;
}
.address{
    position: fixed;
    z-index: 2000;
    bottom: 25px;
    right:  10px;
    width: auto;
    word-wrap: break-word;
    /*border-top-style: dotted;*/
    border-right: 6px solid red;
    /*border-bottom-style: dotted;*/
    border-left: 6px solid red;
    background: rgba(255,255,255,.6);
    /*box-shadow: 0 0 1px 1px #000;*/
    padding: 5px;
    display: none;
    font-size:18px;
    font-weight:700;
}
.address .close{
    float: right;
}
.desc{
    position: fixed;
    z-index: 2000;
    bottom: 85px;
    right:  10px;
    width: auto;
    word-wrap: break-word;
    /*border-top-style: dotted;*/
    border-right: 6px solid graytext;
    /*border-bottom-style: dotted;*/
    border-left: 6px solid graytext;
    background: rgba(255,255,255,.6);
    /*box-shadow: 0 0 1px 1px #000;*/
    padding: 5px;
    display: none;
    font-size:18px;
    font-weight:700;
}
.rtl{
    direction: rtl;
}
#upload{
    position: fixed;
    z-index: 2000;
    bottom: 0px;
    left: 40px;
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding: 15px 0;*/
    /*background: #EEE;*/
    text-align: center;
    /*padding-right: 10px;*/
}
#stopUpload{
    position: fixed;
    z-index: 2000;
    bottom: 0px;
    left: 40px;
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding: 15px 0;*/
    /*background: #EEE;*/
    text-align: center;
    /*padding-right: 10px;*/
}
#sat{
    position: fixed;
    z-index: 2000;
    bottom: 0px;
    left: 40px;
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding: 15px 0;*/
    /*background: #EEE;*/
    text-align: center;
    /*padding-right: 10px;*/
}
#wifi{
    position: fixed;
    z-index: 2000;
    bottom: 0px;
    left: 67px;
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding: 15px 0;*/
    /*background: #EEE;*/
    text-align: center;
    /*padding-right: 10px;*/
}
#network{
    position: fixed;
    z-index: 2000;
    bottom: 0px;
    left: 94px;
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding: 15px 0;*/
    /*background: #EEE;*/
    text-align: center;
    /*padding-right: 10px;*/
}
#firealarm{
    position: fixed;
    z-index: 2000;
    bottom: 0px;
    left: 121px;
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding: 15px 0;*/
    /*background: #EEE;*/
    text-align: center;
    /*padding-right: 10px;*/
}
#butt{
    position: fixed;
    z-index: 2000;
    top: 25px;
    left: 5px;
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding: 15px 0;*/
    /*background: #EEE;*/
    text-align: center;
    /*padding-right: 10px;*/
}
#video{
    position: fixed;
    z-index: 2000;
    top: 5px;
    left: 20px;
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding: 15px 0;*/
    /*background: #EEE;*/
    text-align: center;
    /*padding-right: 10px;*/
}
#snap{
    position: fixed;
    z-index: 2000;
    top: 260px;
    left: 20px;
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding: 15px 0;*/
    /*background: #EEE;*/
    text-align: center;
    /*padding-right: 10px;*/
}
#canvas{
    position: fixed;
    z-index: 2000;
    top: 240px;
    left: 20px;
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding: 15px 0;*/
    /*background: #EEE;*/
    text-align: center;
    /*padding-right: 10px;*/
}
#accelerometer{
    position: fixed;
    z-index: 2000;
    top: 60px;
    left: 20px;
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding: 15px 0;*/
    /*background: #EEE;*/
    text-align: center;
    /*padding-right: 10px;*/
}

#custom-border-radius .ui-btn-icon-notext.ui-corner-all {
    /*-webkit-border-radius: .3125em;*/
    /*border-radius: .3125em;*/
    z-index: 500;
    font-size: 48px;
}
.ui-btn.my-tooltip-btn,
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {
    background: none;
    border: 0;
}
/* Adjust the width of the left reveal menu. */
#demo-page #right-panel.ui-panel {
    width: 20em;
}
#demo-page #right-panel.ui-panel-closed {
    width: 0;
}
#demo-page .ui-panel-page-content-position-right,
.ui-panel-dismiss-open.ui-panel-dismiss-position-righ {
    right: 15em;
    left: -15em;
}
#demo-page .ui-panel-animate.ui-panel-page-content-position-right.ui-panel-page-content-display-reveal {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(15em,0,0);
    -moz-transform: translate3d(15em,0,0);
    transform: translate3d(15em,0,0);
}
/* Listview with collapsible list items. */
.ui-listview > li .ui-collapsible-heading {
  margin: 0;
}
.ui-collapsible.ui-li-static {
  padding: 0;
  border: none !important;
}
.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn {
  border-top: none !important;
}
/* Nested list button colors */
.ui-listview .ui-listview .ui-btn {
    background: #fff;
}
.ui-listview .ui-listview .ui-btn:hover {
    background: #f5f5f5;
}
.ui-listview .ui-listview .ui-btn:active {
    background: #f1f1f1;
}
/* Reveal panel shadow on top of the listview menu (only to be used if you don't use fixed toolbars) */
#demo-page .ui-panel-display-reveal {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#demo-page .ui-panel-page-content-position-right {
    -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}
/* Setting a custom background image. */
#demo-page.ui-page-theme-a,
#demo-page .ui-panel-wrapper {
    background-color: #fff;
    background-image: url("../_assets/img/bg-pattern.png");
    background-repeat: repeat-x;
    background-position: right bottom;
}
